.corejs-ad-container {
  top: 0em;
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
}

.corejs-logo {
  position: absolute;
  top: 0px;
  z-index: 99999;
  width: 35px;
  height: 35px;
  background-size: 100%;
}

.corejs-logo.top-left {
  left: 0px;
}

.corejs-logo.top-right {
  right: 0px;
}

/* Move overlay if user fast-clicks play button. */
.video-corejs.vjs-playing .bumpable-corejs-ad-container {
  margin-top: -4em;
}

/* Move overlay when controls are active. */
.video-corejs.vjs-user-inactive.vjs-playing .bumpable-corejs-ad-container {
  margin-top: 0em;
}

.video-corejs.vjs-paused .bumpable-corejs-ad-container,
.video-corejs.vjs-playing:hover .bumpable-corejs-ad-container,
.video-corejs.vjs-user-active.vjs-playing .bumpable-corejs-ad-container {
  margin-top: -4em;
}

.corejs-controls-div {
  z-index: 999999;
  bottom: 0em;
  height: 1.6em;
  position: absolute;
  overflow: hidden;
  display: none;
  opacity: 1;
  background-color: rgba(7, 20, 30, .7);
  background: -moz-linear-gradient(
      bottom,
      rgba(7, 20, 30, .7) 0%,
      rgba(7, 20, 30, 0) 100%); /* FF3.6+ */
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0%,rgba(7, 20, 30, .7)),
      color-stop(100%,rgba(7, 20, 30, 0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
      bottom,
      rgba(7, 20, 30, .7) 0%,
      rgba(7, 20, 30, 0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(bottom,
    rgba(7, 20, 30, .7) 0%,
    rgba(7, 20, 30, 0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(bottom,
    rgba(7, 20, 30, .7) 0%,
    rgba(7, 20, 30, 0) 100%); /* IE10+ */
  background: linear-gradient(to top,
    rgba(7, 20, 30, .7) 0%,
    rgba(7, 20, 30, 0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr='#0007141E',
    endColorstr='#07141E',GradientType=0 ); /* IE6-9 */
}

.corejs-img-backup {
  height: 100%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0%);
}

.corejs-controls-div.corejs-controls-div-showing {
  height: 3.7em;
}

.corejs-countdown-div {
  height: 1em;
  color: #FFFFFF;
  text-shadow: 0 0 0.2em #000;
  cursor: default;
}

.corejs-seek-bar-div {
  top: 1.2em;
  height: 0.3em;
  position: absolute;
  background: rgba(255, 255, 255, .4);
}

.corejs-progress-div {
  width: 0em;
  height: 0.3em;
  background-color: #ECC546;
}

.corejs-play-pause-div, .corejs-mute-div, .corejs-slider-div, .corejs-fullscreen-div, .corejs-skip-catfish-button {
  width: 2.33em;
  height: 1.33em;
  top: 0.733em;
  left: 0em;
  position: absolute;
  color: #CCCCCC;
  font-size: 1.5em;
  line-height: 2;
  text-align: center;
  font-family: VideoJS;
  cursor: pointer;
}

.corejs-mute-div {
  left: auto;
  right: 5.667em;
}

.corejs-mute-mobile-div {
  right: 0em !important;
  color: black !important;
  width: 1.5em !important;
  height: 1.5em !important;
  bottom: 0em;
  line-height: 1;
  right: 0.5em;
  background: white;
	z-index: 2147483647;
  border-radius: 10px;
  top: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}

.corejs-play-pause-mobile-div {
  right: 0em !important;
  color: black !important;
  width: 1.5em !important;
  height: 1.5em !important;
  top: 1em;
  line-height: 1;
  right: 0.5em;
  background: white;
	z-index: 2147483647;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}

.corejs-skip-catfish-button
{
  left: auto;
  color: black !important;
  width: 1.5em !important;
  height: 1em !important;
  top: 1em;
  line-height: 1;
  right: 0.5em;
  background: white;
	z-index: 9999999999;
  border-radius: 10px;
}

.corejs-click-cover-div {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.corejs-slider-div {
  left: auto;
  right: 2.33em;
  width: 3.33em;
  height: 0.667em;
  top: 1.33em;
  background-color: #555555;
}

.corejs-slider-level-div {
  width: 100%;
  height: 0.667em;
  background-color: #ECC546;
}

.corejs-fullscreen-div {
  left: auto;
  right: 0em;
}

.corejs-skip-catfish-button:before {
  content: "\00f115";
}

.corejs-playing:before {
  content: "\00f103";
  // display: inline-block;
  // vertical-align: middle;
  // height: 0;
}

.corejs-paused:before {
  content: "\00f101";
  // display: inline-block;
  // vertical-align: middle;
  // height: 0;
}

.corejs-playing:hover:before, .corejs-paused:hover:before {
  text-shadow: 0 0 1em #fff;
}

.corejs-non-muted:before {
  content: "\00f107";
  // display: inline-block;
  // vertical-align: middle;
  // height: 0;
}

.corejs-muted:before {
  content: "\00f104";
  // display: inline-block;
  // vertical-align: middle;
  // height: 0;
}

.corejs-non-muted:hover:before, .corejs-muted:hover:before {
  text-shadow: 0 0 1em #fff;
}

.corejs-non-fullscreen:before {
  content: "\00f108";
}

.corejs-fullscreen:before {
  content: "\00f109";
}

.corejs-non-fullscreen:hover:before, .corejs-fullscreen:hover:before {
  text-shadow: 0 0 1em #fff;
}
