.corejs-animate-bottom {
  position: fixed !important;
  animation: animatebottom 0.8s;
  bottom: 5px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 2147483647;
}
@keyframes animatebottom {
  from {
      bottom: -300px;
      opacity: 0
  }
  to {
      bottom: 0;
      opacity: 1
  }
}

.corejs-animate-bottom-out {
  position: fixed !important;
  animation: animatebottomout 3s;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 2147483647;
}
@keyframes animatebottomout {
  from {
      bottom: 0;
      opacity: 1
  }
  to {
      bottom: -999px;
      opacity: 0
  }
}

.corejs-catfish-video-paused-overlay {
  background: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 999999;
}

.corejs-catfish-video-paused-overlay div.control {
  left: 50%;
  top: 50%;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  padding: 0;
  margin: -50px -25px 0.25em;
  float: left;
}

.corejs-catfish-video-paused-overlay div.control div {
  width: auto;
  height: auto;
  position: static;
  margin-top: 0px;
}

.corejs-catfish-video-paused-overlay .play span {
  padding-top: 70px;
  padding-left: 70px;
}

.corejs-catfish-video-paused-overlay .play span:before {
  left: 2px;
  border: 32px solid transparent;
  border-width: 35px 56px;
  border-left-color: #CCCCCC;
  margin-top: -35px;
  background: transparent;
}

.corejs-catfish-video-paused-overlay .play:hover span:before,
.corejs-catfish-video-controls .play div:focus span:before,
.corejs-catfish-video-controls .play div:active span:before {
  border-left-color: #FFFFFF;
  background: transparent;
}

.corejs-catfish-video-controls {
  position: absolute;
  bottom: 1.5em;
  color: #FFFFFF;
  font-family: sans-serif;
  z-index: 9101;
  opacity: 0.8;
  left: 0;
  right: 0;
  border-radius: 3px;
  height: 37px;
  z-index: 9999999999;
}

.hide_skin .corejs-catfish-video-controls {
  opacity: 0;
  pointer-events: none;
}

.corejs-catfish-video-controls .play,
.corejs-catfish-video-controls .pause {
    width: 35px;
    margin: 0;
    position: absolute;
    top: -27px;
    bottom: -20px;
    left: 0px;
}

.corejs-catfish-video-controls .play span,
.corejs-catfish-video-controls .pause span {
    padding-top: 25px;
}

.corejs-catfish-video-controls .play span:before {
    left: 6px;
    border: 8px solid transparent;
    border-width: 8px 12px;
    border-left-color: #CCCCCC;
    margin-top: -8px;
    background: transparent;
}

.corejs-catfish-video-controls .pause span:before {
  left: 6px;
  width: 0px;
  height: 14px;
  border: 2px solid #FFFFFF;
  margin-top: -7px;
  background: transparent;
  border-radius: 2px 2px;
}

.corejs-catfish-video-controls .pause span:after {
  left: 13px;
  width: 0px;
  height: 14px;
  border: 2px solid #FFFFFF;
  margin-top: -7px;
  background: transparent;
  border-radius: 2px 2px;
}

.corejs-catfish-video-controls .volume {
  width: 40px;
  top: -27px;
  bottom: -20px;
  position: absolute;
  right: 36px;
  z-index: 9999999999;
}

.corejs-catfish-video-controls .volume div {
  margin-left: 11px;
}

.corejs-catfish-video-controls .volume span {
  width: 0;
}

.corejs-catfish-video-controls .volume span:before {
  right: 10px;
  border: 7px solid transparent;
  border-right-color: #FFFFFF;
  margin-top: -7px;
  background: transparent;
  left: auto;
}

.corejs-catfish-video-controls .volume span:after {
  right: 13px;
  width: 4px;
  height: 6px;
  margin-top: -3px;
  left: auto;
  background: #FFFFFF;
}

.corejs-catfish-video-controls .volume:not(.volume-on) span:before {
  right: 8px;
  border: 8px solid transparent;
  border-right-color: #FFFFFF;
  margin-top: -9px;
  background: transparent;
  left: 0px;
}

.corejs-catfish-video-controls .volume:not(.volume-on) span:after {
  right: 13px;
  width: 6px;
  height: 6px;
  margin-top: -3px;
  left: 6px;
}

.corejs-catfish-video-controls .volume:not(.volume-on) div:after {
  background-color: #FFFFFF;
  border: 1px solid #000000;
  width: 1px;
  height: 18px;
  top: 3px;
  left: 10px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.corejs-catfish-video-controls .full, .corejs-catfish-video-controls .exit {
  top: -27px;
  bottom: -20px;
  margin-right: 0px;
  width: 36px;
  position: absolute;
  right: 0px;
  z-index: 9999999999;
}

.corejs-catfish-video-controls .full div, .corejs-catfish-video-controls .exit div {
  margin-left: 4px;
}

.corejs-catfish-video-controls .full span {
  width: 0;
}

.corejs-catfish-video-controls .full div:before,
.corejs-catfish-video-controls .full div:after {
  z-index: 12;
  left: 9px;
  width: 5px;
  height: 17px;
  border: 5px solid #000;
  border-width: 5px 0;
  margin-top: -8px; /* css3 */
}

.corejs-catfish-video-controls .full span:before,
.corejs-catfish-video-controls .full span:after {
  z-index: 10;
  width: 15px;
  height: 5px;
  border-width: 2px 2px 0;
  border-style: solid;
  border-color: #FFFFFF #FFFFFF transparent;
  margin-top: -6px;
  background: transparent;
}

.corejs-catfish-video-controls .full span:after {
  border-width: 0 2px 2px;
  border-color: transparent #FFFFFF #FFFFFF;
  margin-top: 3px;
}

.corejs-catfish-video-controls .exit span {
  width: 0;
}

.corejs-catfish-video-controls .exit div:before,
.corejs-catfish-video-controls .exit div:after {
  z-index: 17;
  top: 16px;
  left: 3px;
  width: 4px;
  height: 19px;
  border: 5px solid #000;
  border-width: 5px 0;
  margin-top: -13px;
}

.corejs-catfish-video-controls .exit div:after {
  left: 16px;
}

.corejs-catfish-video-controls .exit span:before,
.corejs-catfish-video-controls .exit span:after {
  z-index: 10;
  left: 4px;
  width: 15px;
  border-width: 0px 5px;
  border-style: solid;
  border-color: #FFFFFF;
  margin-top: -5px;
  background: transparent;
  height: 5px;
  top: 10px;
}


.corejs-catfish-video-controls .exit span:after {
  top: 20px;
}


/* control */
div.control {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 0;
  float: left;
  cursor: pointer;
}

div.control div {
  width: 23px;
  height: 25px;
  top: 50%;
  position: absolute;
  margin-top: -12px;
  margin-left: 9px;
  background-color: #000;
  border-radius: 5px;
}

div.control.volume,
div.control.full,
div.control.exit {
  float: right;
  margin-left: 0;
}

div.control div span {
  display: block;
  border: 0;
  padding-left: 20px;
  color: #FFFFFF;
  cursor: pointer;
}

.video_control_overlay.mouse_device div.control div span {
  color: #CCCCCC;
}

div.control div:hover span,
div.control div:focus span,
div.control div:active span {
  color: #FFFFFF;
  background: transparent;
}

div.control div:before,
div.control div:after,
div.control div span:before,
div.control div span:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 4px;
}

div.control span:before,
div.control span:after {
  margin: -8px 0 0;
}
/* end */

.corejs-catfish-skip-control {
  position: relative;
  top: 20px;
  color: #FFFFFF;
  font-family: sans-serif;
  z-index: 9999999999;
  opacity: 0.8;
  right: 2px;
  border-radius: 3px;
  width: 35px;
  float: right;
  height: 37px;
}

.corejs-catfish-skip-control .skip {
  top: 0px;
  bottom: 0px;
  width: 36px;
  position: absolute;
  right: 0px;
}

.corejs-catfish-skip-control .skip div {
  margin-left: 4px;
  height: 25px;
  width: 25px;
}

.corejs-catfish-skip-control .skip div:before {
  content: '';
  left: 11px;
  top: 4px;
  height: 18px;
  border-left: 3px solid #fff;
  position: absolute;
  transform: rotate(-45deg);
}

.corejs-catfish-skip-control .skip div:after {
  content: '';
  left: 11px;
  top: 4px;
  height: 18px;
  border-left: 3px solid #fff;
  position: absolute;
  transform: rotate(45deg);
}