.video-corejs .vjs-play-control {
  cursor: pointer;
}
.video-corejs .vjs-play-control .vjs-icon-placeholder {
  @include flex(none);
  @extend .vjs-icon-play;
}
.video-corejs .vjs-play-control.vjs-playing .vjs-icon-placeholder {
  @extend .vjs-icon-pause;
}
.video-corejs .vjs-play-control.vjs-ended .vjs-icon-placeholder {
  @extend .vjs-icon-replay;
}
