// North America uses 'CC' icon
.video-corejs:lang(en) .vjs-subs-caps-button .vjs-icon-placeholder,
.video-corejs:lang(fr-CA) .vjs-subs-caps-button .vjs-icon-placeholder {
  @extend .vjs-icon-captions;
}

// ROW uses 'subtitles'
// Double selector because @extend puts these rules above the captions icon
.video-corejs .vjs-subs-caps-button .vjs-icon-placeholder,
.video-corejs.video-corejs:lang(en-GB) .vjs-subs-caps-button .vjs-icon-placeholder,
.video-corejs.video-corejs:lang(en-IE) .vjs-subs-caps-button .vjs-icon-placeholder,
.video-corejs.video-corejs:lang(en-AU) .vjs-subs-caps-button .vjs-icon-placeholder,
.video-corejs.video-corejs:lang(en-NZ) .vjs-subs-caps-button .vjs-icon-placeholder {
  @extend .vjs-icon-subtitles;
}

.video-corejs .vjs-subs-caps-button + .vjs-menu .vjs-captions-menu-item .vjs-menu-item-text .vjs-icon-placeholder {
  vertical-align: middle;
  display: inline-block;
  margin-bottom: -0.1em;
}
.video-corejs .vjs-subs-caps-button + .vjs-menu .vjs-captions-menu-item .vjs-menu-item-text .vjs-icon-placeholder:before {
  font-family: VideoJS;
  content: "\f10d";
  font-size: 1.5em;
  line-height: inherit;
}
